@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.container{
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    background-image: linear-gradient(to top right,#2fe657 ,#24b0cc);
}
.header{
    width: 250px;
    margin: auto;
}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: #2fe657;
    font-weight:500;
    text-shadow: 2px 2px 5px #011806;
}
.mainBox{
    width: 800px;
    background-color: aliceblue;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left{
    width: 50%;
    height: 100%;
    background-color: #2fe657;
    float: left;
}
.right{
    width: 50%;
    height: 100%;
    background-color:#24b0cc;
    float: right;
}